@model Presentation.Web.Models.Endorsement.EndorsementViewModel
@using Domain.Enumerators;
@using Domain.Util.Extensions;
<div class="row PageBlock PolicyEndorsementsResult" style="display: none;">
    <div class="col-12 header__title mb-3">
        <p class="title__semibold__orange">Dados da apólice</p>
        <p class="subtitle"></p>
    </div>
    <div class="col-md-3 form-group">
        <label>Proposta</label>
        <input type="text" class="form-control mat-input-element mat-form-field-autofill-control" readonly value="" />
    </div>
    <div class="col-md-3 form-group">
        <label>Apólice</label>
        <input type="text" class="form-control mat-input-element mat-form-field-autofill-control" readonly value="" />
    </div>
    <div class="col-md-6 form-group">
        <label>Produto</label>
        <input type="text" class="form-control mat-input-element mat-form-field-autofill-control" readonly value="" />
    </div>
    <div class="col-md-6 form-group">
        <label>Modalidade</label>
        <input type="text" class="form-control mat-input-element mat-form-field-autofill-control" readonly value="" />
    </div>
    <div class="col-md-6 form-group">
        <label>Tomador</label>
        <input type="text" class="form-control mat-input-element mat-form-field-autofill-control" readonly value="00.000.000/0000-00 - Tomador Ltda." />
    </div>
    <div class="col-md-6 form-group">
        <label>Segurado</label>
        <input type="text" class="form-control mat-input-element mat-form-field-autofill-control" readonly value="00.000.000/0000-00 - Segurado Ltda." />
    </div>
    <div class="col-md-6 form-group">
        <label>Vigência</label>
        <input type="text" class="form-control mat-input-element mat-form-field-autofill-control" readonly value="De 99/99/9999 à 99/99/9999" />
    </div>
    <div class="col-md-3 form-group">
        <label>Importância segurada</label>
        <input type="text" class="form-control mat-input-element mat-form-field-autofill-control" readonly value="R$ 999.999.999.999,99" />
    </div>
    <div class="col-sm-12 form-group">
        <label>Objeto segurado</label>
        <textarea class="form-control mat-input-element mat-form-field-autofill-control" rows="5"
                  readonly>Texto do objeto segurado atual</textarea>
    </div>
</div>
<div class="row PageBlock PolicyEndorsementsList" style="display: none;">
    <div class="col-12 header__title mb-3">
        <p class="title__semibold__orange">Endossos existentes para apólice</p>
        <p class="subtitle"></p>
    </div>
    <div class="col-12">
        <div class="data__table" id="PolicyEndorsementsGridContainer">
            <table id="EndorsementsGrid" cellpadding="0" class="mat-table cdk-table mat-elevation-z8">
                <thead>
                    <tr>
                        <th class="mat-header-cell cdk-header-cell ng-star-inserted">TIPO</th>
                        <th class="mat-header-cell cdk-header-cell ng-star-inserted">INÍCIO VIGÊNCIA</th>
                        <th class="mat-header-cell cdk-header-cell ng-star-inserted">FINAL VIGÊNCIA</th>
                        <th class="mat-header-cell cdk-header-cell ng-star-inserted">I.S.</th>
                        <th class="mat-header-cell cdk-header-cell ng-star-inserted">PRÊMIO</th>
                        <th class="mat-header-cell cdk-header-cell ng-star-inserted">DATA</th>
                        <th class="mat-header-cell cdk-header-cell ng-star-inserted">RESPONSÁVEL</th>
                        <th class="mat-header-cell cdk-header-cell ng-star-inserted">SITUAÇÃO</th>
                        <th class="mat-header-cell cdk-header-cell ng-star-inserted">AÇÕES</th>
                    </tr>
                </thead>
                @if (Model.PolicyEndorsements != null) {
                    <tbody>
                        @for (int i = 0; i < Model.PolicyEndorsements.Count; i++) {
                            <tr class="mat-row cdk-row ng-star-inserted">
                                <td>@Model.PolicyEndorsements[i].EndorsementTypeName</td>
                                <td>@(Model.PolicyEndorsements[i].StartOfTerm?.FormatDate())</td>
                                <td>@(Model.PolicyEndorsements[i].EndOfTerm?.FormatDate())</td>
                                <td>@(Model.PolicyEndorsements[i].InsuredAmount?.FormatCurrency())</td>
                                <td>@(Model.PolicyEndorsements[i].PremiumValue?.FormatCurrency())</td>
                                <td>@(Model.PolicyEndorsements[i].InclusionDate?.FormatDateTime())</td>
                                <td>@(Model.PolicyEndorsements[i].InclusionUserName)</td>
                                <td>@(Model.PolicyEndorsements[i].NewProposalStatusName)</td>
                                <td>
                                    <input type="hidden" name="@Html.NameFor(x => x.PolicyEndorsements[i].PolicyRenovationId)" value="@(Model.PolicyEndorsements[i].PolicyRenovationId)" />
                                    <a title="Visualizar" onclick="event.preventDefault(); Workflow.viewDocuments(@Model.PolicyEndorsements[i].PolicyRenovationId)">
                                        <span class="fas fa-eye"></span>
                                    </a>@Html.Raw("&nbsp;")
                                    <a title="Editar" onclick="event.preventDefault(); Workflow.viewLiberationUsers(@Model.PolicyEndorsements[i].PolicyRenovationId)">
                                        <span class="fas fa-edit"></span>
                                    </a>@Html.Raw("&nbsp;")
                                    <a title="Imprimir" onclick="event.preventDefault(); Workflow.openForward('@(Model.PolicyEndorsements[i].PolicyRenovationId)')')">
                                        <span class="fas fa-print"></span>
                                    </a>@Html.Raw("&nbsp;")
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
<div class="row PageBlock PolicyEndorsementsList mt-3" style="display: none;">
    <div class="col-12">
        <button type="button" class="btn mat-focus-indicator button__white button mat-raised-button mat-button-base"
                onclick="Endorsement.new(1)">
            <span class="fas fa-plus"></span>@Html.Raw("&nbsp;")SEM MOVIMENTO
        </button>
        <button type="button" class="btn mat-focus-indicator button__white button mat-raised-button mat-button-base"
                onclick="Endorsement.new(2)">
            <span class="fas fa-plus"></span>@Html.Raw("&nbsp;")CANCELAMENTO
        </button>
        <button type="button" class="btn mat-focus-indicator button__white button mat-raised-button mat-button-base"
                onclick="Endorsement.new(3)">
            <span class="fas fa-plus"></span>@Html.Raw("&nbsp;")PRORROGAÇÃO VIGÊNCIA
        </button>
        <button type="button" class="btn mat-focus-indicator button__white button mat-raised-button mat-button-base"
                onclick="Endorsement.new(4)">
            <span class="fas fa-plus"></span>@Html.Raw("&nbsp;")REDUÇÃO VIGÊNCIA
        </button>
        <button type="button" class="btn mat-focus-indicator button__white button mat-raised-button mat-button-base"
                onclick="Endorsement.new(5)">
            <span class="fas fa-plus"></span>@Html.Raw("&nbsp;")AUMENTO IS
        </button>
        <button type="button" class="btn mat-focus-indicator button__white button mat-raised-button mat-button-base"
                onclick="Endorsement.new(6)">
            <span class="fas fa-plus"></span>@Html.Raw("&nbsp;")REDUÇÃO IS
        </button>
    </div>
</div>
<script>
    $(document).ready(function () {
        controls.dataTableInit3("#EndorsementsGrid");
    });
</script>