@model Portal.Web.Models.ComissionStatement.ComissionStatementViewModel;
@using Domain.Enumerators
@using Domain.Util.Extensions;
<div class="col-sm-12">
    <h5 class="section-header-default"><i class="fas fa-asterisk"></i>&nbsp;Extrato</h5>
</div>
<div class="col-12">
    <hr class="remove-top-margin">
</div>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-2 form-group">
                    <label>Corretor:&nbsp;@(Model.Broker.Name)</label>
                </div>
                <div class="col-md-3 mb-2 form-group">
                    <label>CNPJ:&nbsp;@(Model.Broker.CpfCnpjNumber.FormatCpfCnpj())</label>
                </div>
                <div class="col-md-3 mb-2 form-group">
                    <label>SUSEP:&nbsp;@(Model.Broker.SusepCode)</label>
                </div>

                <div class="col-md-3 mb-2 form-group">
                    <label>N° extrato:&nbsp;@(Model.CurrentStatement.StatementNumber)</label>
                </div>
                <div class="col-md-3 mb-2 form-group">
                    <label>Competência:&nbsp;@(Model.CurrentStatement.Competency)</label>
                </div>
                <div class="col-md-3 mb-2 form-group">
                    <label>Valor:&nbsp;@(Model.CurrentStatement.ComissionValue?.FormatCurrency())</label>
                </div>
                <div class="col-md-3 mb-2 form-group">
                    <label>Lançamentos:&nbsp;@(Model.CurrentStatement.EntryCount)</label>
                </div>

                <div class="col-md-3 mb-2 form-group">
                    <label>Abertura:&nbsp;@(Model.CurrentStatement.OpeningDate?.FormatDate())</label>
                </div>
                <div class="col-md-3 mb-2 form-group">
                    <label>Fechamento:&nbsp;@(Model.CurrentStatement.ClosingDate?.FormatDate())</label>
                </div>
                <div class="col-md-6 mb-2 form-group">
                    <label>Situação:&nbsp;@(Model.CurrentStatement.StatusName)</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12"><br /></div>

<div class="col-12">
    <h5 class="section-header-default"><i class="fas fa-list"></i>&nbsp;Comissão por ramo</h5>
</div>
<div class="col-12">
    <hr class="remove-top-margin">
</div>
<div class="col-12 table-responsive">
    <table class="mat-table cdk-table mat-elevation-z8" id="ComissionStatementBusinessTable">
        <thead>
            <tr>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted">RAMO</th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted">TIPO DE COMISSÃO</th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted text-right">VALOR COMISSÃO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StatementBusiness) {
                <tr class="mat-row cdk-row ng-star-inserted">
                    <td>@(item.BusinessId) - @(item.BusinessName)</td>
                    <td>@(item.ComissionTypeName)</td>
                    <td class="text-right">@(item.ComissionValue?.FormatCurrency())</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-12"><br /></div>

<div class="col-12">
    <h5 class="section-header-default"><i class="fas fa-list"></i>&nbsp;Comissão por tipo</h5>
</div>
<div class="col-12">
    <hr class="remove-top-margin">
</div>
<div class="col-12 table-responsive">
    <table class="mat-table cdk-table mat-elevation-z8" id="ComissionStatementTypesTable">
        <thead>
            <tr>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted">TIPO DE COMISSÃO</th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted text-right">VALOR COMISSÃO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StatementTypes) {
                <tr class="mat-row cdk-row ng-star-inserted">
                    <td>@(item.ComissionTypeName)</td>
                    <td class="text-right">@(item.ComissionValue?.FormatCurrency())</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-12"><br /></div>

<div class="col-12">
    <h5 class="section-header-default"><i class="fas fa-funnel-dollar"></i>&nbsp;Totais</h5>
</div>
<div class="col-12">
    <hr class="remove-top-margin">
</div>
<div class="col-12 table-responsive">
    <table class="mat-table cdk-table mat-elevation-z8">
        <thead>
            <tr>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted text-right">$ COMISSÃO</th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted text-right">$ LÍQUIDO</th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted text-right">$ IMPOSTOS</th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted text-right">$ TRIBUTADO</th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted text-right">$ NÃO TRIBUTADO</th>
            </tr>
        </thead>
        <tbody>
            <tr class="mat-row cdk-row ng-star-inserted">
                <td class="text-right">@(Model.StatementDetail?.ComissionValue?.FormatCurrency())</td>
                <td class="text-right">@(Model.StatementDetail?.ComissionNetValue?.FormatCurrency())</td>
                <td class="text-right">@(Model.StatementDetail?.TaxValue?.FormatCurrency())</td>
                <td class="text-right">@(Model.StatementDetail?.TaxableComissionValue?.FormatCurrency())</td>
                <td class="text-right">@(Model.StatementDetail?.NotTaxableComissionValue?.FormatCurrency())</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-12"><br /></div>

<div class="col-12">
    <h5 class="section-header-default"><i class="fas fa-hand-holding-usd"></i>&nbsp;Pagamento</h5>
</div>
<div class="col-12">
    <hr class="remove-top-margin">
</div>
<div class="col-12 table-responsive">
    <table class="mat-table cdk-table mat-elevation-z8">
        <thead>
            <tr>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted text-center">SOLICITAÇÃO DE PAGAMENTO</th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted text-center">PAGAMENTO</th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted text-right">RECIBO</th>
            </tr>
        </thead>
        <tbody>
            <tr class="mat-row cdk-row ng-star-inserted">
                <td class="text-center">@(Model.StatementDetail?.PaymentRequestDate?.FormatDate())</td>
                <td class="text-center">@(Model.CurrentStatement.PayDay?.FormatDate())</td>
                <td class="text-right">@(Model.StatementDetail?.ReceiptNumber)</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-12"><br /></div>

<div class="col-12">
    <h5 class="section-header-default"><i class="fas fa-file-invoice-dollar"></i>&nbsp;Demonstrativo de saldo</h5>
</div>
<div class="col-12">
    <hr class="remove-top-margin">
</div>
<div class="col-12 table-responsive">
    <table class="mat-table cdk-table mat-elevation-z8">
        <thead>
            <tr>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted">DESCRIÇÃO</th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted text-right">VALOR DÉBITO</th>
                <th class="mat-header-cell cdk-header-cell ng-star-inserted text-right">VALOR CRÉDITO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StatementPayments) {
                <tr class="mat-row cdk-row ng-star-inserted">
                    <td class="">@(item.Name)</td>
                    <td class="text-right">@(item.DebitValue.FormatCurrency())</td>
                    <td class="text-right">@(item.CreditValue.FormatCurrency())</td>
                </tr>
            }
            <tr class="mat-row cdk-row ng-star-inserted">
                <td class="font-weight-bold">Pagamentos</td>
                <td class="text-right font-weight-bold">@(Model.StatementPayments.Sum(x=> x.DebitValue).FormatCurrency())</td>
                <td class="text-right font-weight-bold">@(Model.StatementPayments.Sum(x => x.CreditValue).FormatCurrency())</td>
            </tr>
        </tbody>
    </table>
</div>

@if (!string.IsNullOrWhiteSpace(Model.StatementDetail.ImportantWarningText)) {
    <div class="col-12"><br /></div>
    <div class="col-12">
        <h5 class="section-header-default"><i class="fas fa-exclamation-circle"></i>&nbsp;Aviso importante</h5>
    </div>
    <div class="col-12">
        <hr class="remove-top-margin">
    </div>
    <div class="col-12 table-responsive">
        <textarea class="form-control form-control-sm required" rows="4" readonly>@(Model.StatementDetail.ImportantWarningText)</textarea>
    </div>
}

<div class="col-12 mt-4">
    <button type="button" class="btn mat-focus-indicator button__white mat-raised-button mat-button-base" onclick="ComissionStatement.backResults()">VOLTAR</button>
</div>
<script>
    $(document).ready(function () {
        controls.dataTableInit3('#ComissionStatementBusinessTable');
        controls.dataTableInit3('#ComissionStatementTypesTable');
    });
</script>