@model Presentation.Web.Models.Configuration.PolicyBatchConfigurationViewModel
@using Domain.Enumerators;
@using Domain.Util.Extensions;
<input type="hidden" name="@Html.NameFor(x=> x.CurrentItem.PolicyBatchConfigurationId)" value="@Model.CurrentItem.PolicyBatchConfigurationId" class="PolicyBatchConfigurationId" autocomplete="off">
<table id="PolicyBatchConfigurationMailGrid" cellpadding="0" class="mat-table cdk-table mat-elevation-z8">
    <thead>
        <tr>
            <th class="mat-header-cell cdk-header-cell mat-column-code ng-star-inserted">ASSUNTO</th>
            <th class="mat-header-cell cdk-header-cell ng-star-inserted">DIAS ENVIO</th>
            <th class="mat-header-cell cdk-header-cell ng-star-inserted">ENVIAR CORRETOR</th>
            <th class="mat-header-cell cdk-header-cell ng-star-inserted">ENVIAR TOMADOR</th>
            <th class="mat-header-cell cdk-header-cell ng-star-inserted">STATUS</th>
            <th class="mat-header-cell cdk-header-cell ng-star-inserted">AÇÕES</th>
        </tr>
    </thead>
    @if (Model.Mails != null) {
        <tbody>
            @foreach (var item in Model.Mails) {
                <tr class="mat-row cdk-row ng-star-inserted">
                    <td>@(item.Subject)</td>
                    <td>@(item.DaysBeforeExpiration)</td>
                    <td>@(item.SendToBroker ? "Sim": "Não")</td>
                    <td>@(item.SendToTaker ? "Sim": "Não")</td>
                    <td>@(item.Status.GetDescription())</td>
                    <td>
                        <a title="Visualizar" onclick="event.preventDefault(); PolicyBatchConfiguration.viewMail(@item.PolicyBatchConfigurationMailId)">
                            <span class="fas fa-eye botaoTabela"></span>
                        </a>&nbsp;
                        @if (RecordStatusEnum.Active.Equals(@item.Status)) {
                            <a title="Alterar" onclick="event.preventDefault(); PolicyBatchConfiguration.editMail(@item.PolicyBatchConfigurationMailId)">
                                <span class="fas fa-edit botaoTabela"></span>
                            </a>@Html.Raw("&nbsp;")
                            <a title="Excluir" onclick="event.preventDefault(); PolicyBatchConfiguration.deleteMail(@item.PolicyBatchConfigurationMailId)">
                                <span class="fas fa-trash-alt botaoTabela"></span>
                            </a>
                        } else {
                            <span title="Alterar" class='fas fa-edit botaoTabelaDesabilitado'></span>@Html.Raw("&nbsp;")
                            <span title="Excluir" class='fas fa-trash-alt botaoTabelaDesabilitado'></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    }
</table>
<script>
    $(document).ready(function () {
        controls.dataTableInit3("#PolicyBatchConfigurationMailGrid");
    });
</script>
